<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FitMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8850896D1BF5E2EB00E2FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>885089861BF5E2EB00E2FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>885089911BF5E2EB00E2FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
